html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;    /* 🔥 prevents scroll */
  height: 100%;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
